@Html.Partial("~/Views/Shared/_Header.cshtml")

    <!-- Header -->
 <header class="masthead community">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="intro-text">
                    <div class="intro-heading text-uppercase">Community</div>
                </div>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-heading text-uppercase text-center mb-5">Help Make Technology for Democracy a Reality</h2>
                <p>
                    Forum Cooperative is made up of like-minded people - people who are passionate about protecting, preserving and participating in the democratic process.
                </p>
                <p>
                    We recognize advanced technologies - such as blockchain voting - can help foster fair and transparent elections, but we also know the most important ingredient in a democracy is people.
                </p>
                <p>
                    Forum Cooperative is developing and deploying advanced technologies to secure our democracy via blockchain election and governance systems. These technologies can also be used by organizations seeking to improve decision-making procedures, strengthen polling processes and improve information gathering.
                </p>
                <p>
                    That is why we encourage anyone who is interested in fortifying democracy with technology to become a member of Forum Cooperative.
                </p>
            </div>
        </div>
    </div>
</section>
<section class="abstract2">
    <div class="container">
        <div class="row">
            <div class="col text-justify">
                <h2 class="section-heading text-uppercase mb-5">Who Joins Forum Cooperative?</h2>
                <p>
                    We take a hands-on approach in managing our election process and the more hands, the better.
                </p>
                <p>
                    That's why Forum Cooperative is made up of a diverse group of people who all share a passion for transparency in elections and governance and believe cutting-edge technology can be deployed to instill trust into our polling, voting and election systems.
                </p>
                <p>
                    Forum Cooperative people are:
                </p>
                <div class="m-4 list-holder">
                    <i class="far fa-dot-circle text-primary"></i>  Passionate about politics<br>
                    <i class="far fa-dot-circle text-primary"></i>  Believe blockchain and other technologies can help forge a new election process<br>
                    <i class="far fa-dot-circle text-primary"></i>  Seeking transparency in decision management, voting, elections, corporate governance, polling, and surveying<br>
                    <i class="far fa-dot-circle text-primary"></i>  Involved in other organizations tackling similar types of challenges. <br>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col text-center">
                <p class="mt-4">
                    <a class="btn btn-border text-uppercase js-scroll-trigger" href="#join">Join Our Community!</a>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="dark">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <h2 class="section-heading text-uppercase mb-5">Why Join Forum Cooperative?</h2>
                <p>
                    Democracy hinges on participation. The more people participating, the less the likelihood of questions about an election's outcome, integrity or fairness.
                </p>
                <p>
                    We apply this same logic Forum Cooperative. All members have a say in how Cooperative accomplishes its goals. Each member has a say in the organization's directions, plans, and leadership. Members are not only encouraged to help elect Coop leaders; they are encouraged to run for office if they wish.
                </p>
                <p>
                    By becoming a member, you will have an opportunity to:
                </p>
                <div class="m-4 list-holder">
                    <i class="far fa-dot-circle text-gray-300"></i>  Shape local, state and federal leadership and policy<br>
                    <i class="far fa-dot-circle text-gray-300"></i>  Apply cutting-edge technology to improve the democratic process<br>
                    <i class="far fa-dot-circle text-gray-300"></i>  Ensure elections, voting, and polling results are accurate<br>
                    <i class="far fa-dot-circle text-gray-300"></i>  Introduce transparent corporate governance<br>
                    <i class="far fa-dot-circle text-gray-300"></i>  Build a technologically-advanced platform that benefits the world<br>
                    <i class="far fa-dot-circle text-gray-300"></i>  Be part of an organization where one person's vote makes a difference.<br>
                </div>
            </div>
            <div class="col-md-4 text-center">
                <img src="img/blockchain1.jpg" class="img-fluid img-thumbnail" style="max-width:300px; margin-top: 110px;" alt="">
            </div>
        </div>
        <!--div class="row">
          <div class="col text-center">
          <p class="mt-4">
                         <a class="btn btn-border btn-xl text-uppercase js-scroll-trigger" href="#services">Join Our Community!</a>
           </p>
          </div>
        </div-->
    </div>
</section>
<section id="join" class="abstract3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="section-heading text-uppercase mb-5">Get Involved!</h2>
                <h3 class="section-subheading text-muted">Become a Member of Forum Cooperative</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-wrapper-sm">
                    <form id="contactFormMembership" action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
                        <div class="form-group">
                            <input class="form-control" id="first_name" type="text" placeholder="First Name *" required="required" data-validation-required-message="Please enter your first name.">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="last_name" type="text" placeholder="Last Name *" required="required" data-validation-required-message="Please enter your last name.">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="email" type="email" placeholder="Your Email *" required="required" data-validation-required-message="Please enter your email address.">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="phone" type="tel" placeholder="Your Phone">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="company" type="text" placeholder="Company">
                        </div>
                        <div class="form-group">
                            <label for="00N4600000DC7I8">Entity Type:</label>&nbsp;
                            <select class="form-control" id="00N4600000DC7I8" name="00N4600000DC7I8" title="Entity Type">
                                <option value="">--None--</option>
                                <option value="Company">Company</option>
                                <option value="Government">Government</option>
                                <option value="Individual">Individual</option>
                                <option value="Non-Profit">Non-Profit</option>
                                <option value="Union">Union</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="title" type="text" placeholder="Title">
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="URL" type="text" placeholder="Website">
                        </div>
                        <div class="clearfix"></div>
                        <div id="success"></div>
                        <input type=hidden name="oid" value="00D4600000105KD">
                        <input type=hidden name="retURL" value="http://www.forum.coop">
                        <div class="text-center">
                            <button id="sendMessageButton" class="btn btn-primary btn-lg text-uppercase" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</section>

@Html.Partial("~/Views/Shared/_Footer.cshtml")