@Html.Partial("~/Views/Shared/_Header.cshtml")
<!-- Header -->
<header class="masthead news">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="intro-text">
                    <div class="intro-heading text-uppercase"></div>
                </div>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col">
                <h2 class="section-heading text-uppercase mb-5">Forum Cooperative in the News</h2>

                <div class="m-4 list-holder">
                    <i class="far fa-dot-circle text-primary"></i> 
                        <a href="https://www.prweb.com/releases/govurn_partners_with_reflective_venture_partners_and_the_rchain_cooperative_to_disrupt_democracy/prweb15835392.htm" target="_blank">Govurn Partners with Reflective Venture Partners and The RChain Cooperative to Disrupt Democracy</a><br>
                    <i class="far fa-dot-circle text-primary"></i> 
                        <a href="https://www.prweb.com/releases/govurn_runs_groundbreaking_blockchain_based_election_for_rchain_cooperative/prweb15854613.htm" target="_blank">Govurn Runs Groundbreaking Blockchain-based Election for RChain Cooperative</a><br>                   
                </div>
            </div>
        </div>
    </div>
</section>



@Html.Partial("~/Views/Shared/_Footer.cshtml")
