
@Html.Partial("~/Views/Shared/_Header.cshtml")

    <!-- Header -->
 <header class="masthead partners">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="intro-text">
                    <div class="intro-heading text-uppercase">Forum's Partners</div>
                </div>
            </div>
        </div>
    </div>
</header>
<section class="abstract-light">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="section-heading text-uppercase text-center mb-5">Forum Collaborates with Leaders in Democracy and Technology</h2>
                <p>
                    A core value and key element of Forum Cooperative's success is its strategic partnerships.
                </p>
                <p>
                    Just as democracy requires engagement from every constituent, Forum is part of a network of organizations committed to developing technology that strengthens and secures our democracy.
                </p>
                <p>
                    Our partnerships form the foundation upon which Forum Community can grow.
                </p>
            </div>
        </div>
    </div>
</section>
<!-- Partners -->
<section class="bg-light">
    <div class="container" id="partner-list">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading text-uppercase">Current Partners Include:</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6  mb-5  text-center">
                <div class="entity-image-container">
                    <a href="https://www.rchain.coop/" target="_blank">
                        <img src="img/logos/rchain_gray.png" class="img-thumbnail" alt="">
                    </a>
                </div>
                <p>
                    A leader in pioneering transparent and secure transactions using an ultra-fast, global scale technology platform. Cooperative governance and a sustainable economic model make RChain a public utility which can be applied to the greatest problems today.
                    <div class="text-right mr-3">
                        <a href="https://www.rchain.coop/" target='_blank'>
                            Learn more <i class="fas fa-angle-right"></i>
                        </a>
                    </div>
                </p>
            </div>
            <div class="col-md-4 col-sm-6 mb-5 text-center">
                <div class="entity-image-container">
                    <a href="https://www.reflectiveventures.io/" target="_blank">
                        <img src="img/logos/rv-logo.png" class="img-thumbnail" alt="">
                    </a>
                </div>
                <p>
                    A blockchain-focused Venture Partner firm centered on building strategic partnerships with startups and collaborating with them throughout their growth to advance strategic and technical goals.                <br>
                    <div class="text-right mr-3">
                        <a href="https://www.reflectiveventures.io/" target=_blank>
                            Find out more <i class="fas fa-angle-right"></i>
                        </a>
                    </div>
                </p>
            </div>
            <div class="col-md-4 col-sm-6  mb-5  text-center">
                <div class="entity-image-container">
                    <a href="https://www.electiontrust.com/" target=_blank>
                        <img src="img/logos/election-trust-logo.png" class="img-thumbnail" alt="">
                    </a>
                </div>
                <p>
                    A proven professional services provider to both the public and private sectors specializing in delivering reliable end-to-end election oversight underwritten with a new generation of transparent technology for two decades.
                    <div class="text-right mr-3">
                        <a href="https://www.electiontrust.com/" target="_blank">
                            Learn more <i class="fas fa-angle-right"></i>
                        </a>
                    </div>
                </p>
            </div>
            <div class="col-md-4 col-sm-6  mb-5  text-center">
                <div class="entity-image-container">
                    <a href="https://www.govurn.com/" target="_blank">
                        <img src="img/logos/govurn-logo.png" class="img-thumbnail" alt="">
                    </a>
                </div>
                <p>
                    Govurn is a comprehensive decision-management company providing products and services for organizations who need to collect information and opinions to derive outcomes. Govurn offers multiple products, systems, and platforms to enhance data are collected and managed.
                    <div class="text-right mr-3">
                        <a href="https://www.govurn.com/" target="_blank">
                            Find out how <i class="fas fa-angle-right"></i>
                        </a>
                    </div>
                </p>
            </div>
            <div class="col-md-4 col-sm-6  mb-5  text-center">
                <div class="entity-image-container">
                    <a href="https://netvote.io/" target="_blank">
                        <img src="img/logos/netvote-logo.png" class="img-thumbnail" alt="">
                    </a>
                </div>
                <p>
                    Netvote is an open source voting protocol that will soon be available on multiple blockchains. Every vote is verified and Netvote believes that everyone who wants to vote should be able to. As a partner, we integrate with our blockchain election platform and their voting protocol.
                    <div class="text-right mr-3">
                        <a href="https://netvote.io/" target="_blank">
                            Find out how <i class="fas fa-angle-right"></i>
                        </a>
                    </div>
                </p>
            </div>
        </div>
    </div>
</section>
<section class="dark">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="section-heading text-uppercase mb-5">Want to Integrate with Forum Cooperative Platform? </h2>
                <p>
                    Is your organization engaged in activities that align with Forum Cooperative's goals? If so, there may be opportunities to collaborate in the development of advanced technology for democracy and election?
                </p>
                <p class="mt-5">
                    <a class="btn btn-xl btn-border text-uppercase" href="/#contact">Contact Us</a>
                </p>
            </div>
        </div>
</section>

<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">Copyright &copy; Forum Cooperative 2018</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li class="list-inline-item">
                        <a href="https://twitter.com/Forum_Coop">
                            <i class="fab fa-twitter"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.facebook.com/Forum-Cooperative-299357280680101/">
                            <i class="fab fa-facebook-f"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://www.linkedin.com/company/forum-cooperative/">
                            <i class="fab fa-linkedin-in"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="https://discord.gg/FcYmT8">
                            <i class="fab fa-discord"></i>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <!--ul class="list-inline quicklinks">
                  <li class="list-inline-item">
                    <a href="#">Privacy Policy</a>
                  </li>
                  <li class="list-inline-item">
                    <a href="#">Terms of Use</a>
                  </li>
                </ul-->
            </div>
        </div>
    </div>
</footer>



<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Contact form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<!-- Custom scripts for this template -->
<script src="js/agency.min.js"></script>



  </body>

</html>
