
@Html.Partial("~/Views/Shared/_Header.cshtml")

    <!-- Header -->
 <header class="masthead platform">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="intro-text">
                    <div class="intro-heading text-uppercase">Platform</div>
                </div>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="col mb-3">
                <h2 class="section-heading text-uppercase mb-5 text-center">Why Blockchain for Voting?</h2>
                <p>
                    Forum Cooperative deploys a variety of technologies - including blockchain- to enhance the integrity and transparency in elections and related activities.
                </p>
                <p>
                    Why blockchain? First introduced more than a decade ago to power the cryptocurrency revolution, decentralized blockchains are now used by an array of leading organizations and corporations to track and verify transactions, improve processes, and promote visibility across any enterprise.
                </p>
                <p>
                    Forum Cooperative is leading the way in applying leading-edge technologies to the electoral process by focusing on the following four pillars:
                </p>
            </div>
        </div>
        <div class="row mt-4 mb-4">
            <div class="col-lg-3 col-md-6 bordered-col">
                <p class="header-num">1</p>
                <h4 class="mb-4 mt-4">Governance</h4>
                <p>
                    Decentralized blockchain technology will help reshape corporate governance models ensuring they are aligned with 21st-century shareholder expectations and today's constant visibility. Business procedures, hiring practices, and a commitment to sustainability are just three of features that will be transparent in a blockchain-based governance model. Such transparency will affect Board elections, new business proposals, earnings calls, shareholder votes, and other high-profile procedures.
                </p>
            </div>
            <div class="col-lg-3 col-md-6  bordered-col">
                <p class="header-num">2</p>
                <h4 class="mb-4 mt-4">Elections</h4>
                <p>
                    Blockchain-based elections provide constituents with an end-to-end voting process that offers unprecedented visibility into each step of the system - from administering voting hubs to collecting and tallying ballots to storing data.
                </p>
            </div>
            <div class="col-lg-3 col-md-6  bordered-col">
                <p class="header-num">3</p>
                <h4 class="mb-4 mt-4">Voting</h4>
                <p>
                    Forum Cooperative's advanced technology will result in secure, private and auditable voting records - whether voting takes place on a blockchain ledger, via electronic voting, or with traditional paper ballots - or a hybrid of all three. Regardless of how public preferences are captured, Forum Cooperative's technology can securely gather and store voting data for auditing purposes.
                </p>
            </div>
            <div class="col-lg-3 col-md-6  bordered-col">
                <p class="header-num">4</p>
                <h4 class="mb-4 mt-4">Polling & Surveys</h4>
                <p>
                    Public opinion can be quickly, securely, and accurately captured and shared with Forum Cooperative's efficient, blockchain-based polling and surveying applications. Because the data resides on the blockchain, it is immutable and transparent adding a needed layer of trust to poll results.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col text-center  mt-4">
                <p>
                    Forum Cooperative has already created new technologies for these four specific areas.
                </p>
                <!--p>
                  <a class="btn btn-border text-uppercase" href="#">Learn More</a>
                </p-->
            </div>
        </div>
    </div>
</section>
<section class="dark pb-5 pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="section-heading text-uppercase">Want to Know More About Forum Cooperative's Voting System?</h2>
                <!--p>
                     <a class="btn btn-xl btn-border text-uppercase" href="#"><i class="far fa-dot-circle"></i> Download Our Whitepaper</a>
                </p-->
            </div>
        </div>
</section>
<section id="join" class="abstract3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h2 class="section-heading text-uppercase mb-5">Get Involved!</h2>
                <h3 class="section-subheading text-muted">Become a Member of Forum Cooperative</h3>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="form-wrapper-sm">
                    <form id="contactFormMembership" action="https://webto.salesforce.com/servlet/servlet.WebToLead?encoding=UTF-8" method="POST">
                        <div class="form-group">
                            <input class="form-control" id="first_name" name="first_name" type="text" placeholder="First Name *" required="required" data-validation-required-message="Please enter your first name.">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="last_name" name="last_name" type="text" placeholder="Last Name *" required="required" data-validation-required-message="Please enter your last name.">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="email" type="email" name="email" placeholder="Your Email *" required="required" data-validation-required-message="Please enter your email address.">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="phone" type="tel" name="phone" placeholder="Your Phone">
                            <p class="help-block text-danger"></p>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="company" name="company" type="text" placeholder="Company">
                        </div>
                        <div class="form-group">
                            <label for="00N4600000DC7I8">Entity Type:</label>&nbsp;
                            <select class="form-control" id="00N4600000DC7I8" name="00N4600000DC7I8" title="Entity Type">
                                <option value="">--None--</option>
                                <option value="Company">Company</option>
                                <option value="Government">Government</option>
                                <option value="Individual">Individual</option>
                                <option value="Non-Profit">Non-Profit</option>
                                <option value="Union">Union</option>
                                <option value="Other">Other</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="title" name="title" type="text" placeholder="Title">
                        </div>
                        <div class="form-group">
                            <input class="form-control" id="URL" name="URL" type="text" placeholder="Website">
                        </div>
                        <div class="clearfix"></div>
                        <div id="success"></div>
                        <input type=hidden name="oid" value="00D4600000105KD">
                        <input type=hidden name="retURL" value="http://www.forum.coop">
                        <div class="text-center">
                            <button id="sendMessageButton" class="btn btn-primary btn-lg text-uppercase" type="submit">Submit</button>
                        </div>
                        <input type=hidden id="lead_source" name="lead_source" value="Website">
                        <input type=hidden id="00N4600000EcpZA" name="00N4600000EcpZA" value="Platform Membership Form">        
                    </form>
                </div>
            </div>
        </div>
</section>
@Html.Partial("~/Views/Shared/_Footer.cshtml")


